<h1>Home#search</h1>
<p>Find me in app/views/home/search.html.erb</p>

<%= form_tag home_search_path, method: :get do %>
  <%= text_field_tag :id, params[:id] %>
  <%= text_field_tag :name, params[:name] %>
  <%= text_field_tag :from, params[:from] %>
  <%= text_field_tag :to, params[:to] %>
  <%= submit_tag "Search", name: nil %>
<% end %>



<h3 class=''>Employees</h3>
          <table id='employee-table' class="table table-hover">
            <thead  class="thead-light">
              <tr>
                <th>Name</th>
                <th>id</th>
                <th>Birthday </th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @s.each do |employee| %>
                <tr>
                  <td><%= employee.name %></td>
                  <td><%= employee.id %></td>
                  <td><%= employee.birthday %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
